<ion-view view-title="Informes" ng-controller="ChartsCtrl">
  <ion-content class="padding">
  	<div class="card">
  		<ion-item> 
	      <div class="card">
	        <div class="item item-text-wrap" style="padding:0px">
	          <highchart config="chartarea" class="Chartcenter"></highchart>
	        </div>
	      </div>
        </ion-item>
        <ion-item> 
	      <div class="card">
	        <div id="chartpieGasto" class="item item-text-wrap" style="padding:0px">
	          <highchart config="chartpieGasto" class="Chartcenter"></highchart>
	        </div>
	      </div>
        </ion-item>
        <ion-item> 
	      <div class="card">
	        <div id="chartpieIngreso" class="item item-text-wrap" style="padding:0px">
	          <highchart config="chartpieIngreso" class="Chartcenter"></highchart>
	        </div>
	      </div>
        </ion-item>
  	</div>
  </ion-content>
</ion-view>